.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 50px;
}
.img {
  width: 700px;
}

.text {
  width: 700px;
  margin: 20px auto;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .container {
    width: 300px;
  }
  .img {
    width: 300px;
  }
  .text {
    width: 300px;
    margin: 10px auto;
  }
}