.container{
  text-align: center;
}

.title {
  text-align: center;
  font-size: 100px;
  height: 130px;
}

.date {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}

.headerimg {
  margin-top:10px;
}

.body{
  width:900px;
  margin:0 auto;
  text-align: left;
}
.goback {
  margin-left: 140px;
}
@media screen and (max-width: 479px) {
  .title {
    font-size: 30px;
    height: 30px;
  }

  .body{
    width:300px;
    margin:0 auto;
    text-align: left;
    font-size: 11px;
  }

  .headerimg {
    width:300px;
  }

  #player {
    width:300px;
  }

  
}