.img{
  width:700px;
}

.title {
  font-size: 50px;
}

.container{
  text-align: center;
}

.text{
  width: 350px;
  margin: 20px auto;
  font-size: 20px;
  text-align: left;
}


@media screen and (max-width: 479px) {
  .img{
    width:300px;
  }
  
  .title {
    font-size: 30px;
  }
  
  .container{
    text-align: center;
  }
  
  .text{
    width: 300px;
    font-size: 15px;
  }
}