.navcontainer,.nav {
    display: none;
}

@media screen and (max-width: 479px) {
.navcontainer, .nav {
    display: block;
    list-style: none;
    color: #fff
}

.navcontainer {
    background-color: gray;
   ;
}

.nav {
    margin: 0 auto;
}
.flex {
    display: flex;
}

.navlink {
    margin: 0 5px;
    font-size: 20px;
}
}


    
